.calculatorQuestion {
  text-align: center;
  color: var(--textConfigTextColor);
  font-family: var(--fontFamily);
  font-size: calc(var(--questionConfigFontSize) * 1px);
}

.calculatorAnswerInput {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition:
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;

  background-color: var(--inputConfigBackColor);
  border-color: var(--inputConfigBorderColor);
  color: var(--inputConfigTextColor);
  border-radius: calc(var(--inputConfigBorderRadius) * 1px);
  font-size: calc(var(--inputConfigFontSize) * 1px);
  &:read-only {
    background-color: var(--inputConfigBackColor);
    border-color: var(--inputConfigBorderColor);
    color: var(--inputConfigTextColor);
    border-radius: calc(var(--inputConfigBorderRadius) * 1px);
    font-size: calc(var(--inputConfigFontSize) * 1px);
  }
}
