# Logs
*/logs
*/*.log
*/npm-debug.log*
*/yarn-debug.log*
*/yarn-error.log*
*/pnpm-debug.log*
*/lerna-debug.log*
.idea/
*/node_modules
*/dist
*/dist-ssr
*/*.local
*/.env

# Editor directories and files

./powerpointaddinreact/.vscode/*
./powerpointaddinreact/!.vscode/extensions.json
./powerpointaddinreact/.idea
./powerpointaddinreact/.DS_Store
./powerpointaddinreact/*.suo
./powerpointaddinreact/*.ntvs*
./powerpointaddinreact/*.njsproj
./powerpointaddinreact/*.sln
./powerpointaddinreact/*.sw?

InteractiveSlidesNode/dist
InteractiveSlidesNode/node_modules
InteractiveSlidesNode/public/AddIns
InteractiveSlidesNode/public/Content
InteractiveSlidesNode/public/Scripts



interactiveslidesuserui/.DS_*
interactiveslidesuserui/*.log
interactiveslidesuserui/logs
interactiveslidesuserui/**/*.backup.*
interactiveslidesuserui/**/*.back.*

interactiveslidesuserui/build
interactiveslidesuserui/.idea

interactiveslidesuserui/node_modules
interactiveslidesuserui/bower_components
interactiveslidesuserui/.env

interactiveslidesuserui/*.sublime*

interactiveslidesuserui/psd
interactiveslidesuserui/thumb
interactiveslidesuserui/sketch

interactiveslidesuserui/yarn.lock



