.main-panel {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


.load-screen {
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.load-screen button {
  background: rgba(255,86,48,0.87);
  border-radius: 4px;
  border: none;
  color: #fff;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  cursor: pointer;
  margin-top: 1rem;
  display: block;
}


#logout-button {
  position: absolute;
  top: 1rem;
  left: 1rem;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

#logout-button svg {
  width: 1.25rem;
  height: 1.25rem;
}

input, label, button {
  display: block;
  width: 100%;
}

input {
  padding: 0.25rem;
}

.login-form-buttons {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
}

.login-form-inputs {
  margin-bottom: 1.25rem;
}

.login-form-button {
  outline: none;
  border: 1px solid #b9b0b0;
}
